---
import HeroSection from "@/components/main/HeroSection.astro";
import StatsSection from "@/components/main/StatsSection.astro";
---

<div class="h-full overflow-y-auto">
  <HeroSection />
  <StatsSection />
</div>